.sectionThree-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5%;
    padding: 20px;
}

.sectionThree-titleTwo {
    color: rgb(135, 135, 135);
    font-size: 1.5rem;
    letter-spacing: -0.075rem;
}

.sectionThree-titleOne {
    color:#A16AE8;
}

.sectionThree-details {
    color:#A16AE8;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: -0.075rem;
}

ul {
    list-style-type: none;
}

.sectionThree-itemB img {
    width: 100%;
    margin:10px;
}

.sectionThree-itemB {
    margin: 15px;
}

li {
    cursor: pointer;
}

li:hover {
    text-decoration: line-through rgb(135, 135, 135);
}

@media(min-width: 600px) {
    .sectionThree-itemA {
        margin-left: 20px;
    }

    .sectionThree-titleTwo {
        font-size: 4rem;
    }

    .sectionThree-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5%;
        padding: 20px;
    }

    .sectionThree-details {
        font-size: 2rem;
    }
}