.sectionTwo-titleTwo {
    font-size: 1.2rem;
}
.sectionTwo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 13%;
    padding: 20px;
    background: #F5F5F5;
    border-radius: 0 1880px 0 0;
    border-bottom-right-radius: 1880px;
}

img {
    width: 100%;
    border-radius: 6px;
}

.sectionTwo-itemB {
    color: rgb(135, 135, 135);
}

.sectionTwo-details {
    font-size: 0.8rem;
}

.sectionTwo-titleOne {
    color: #007aff;
}

.sectionTwo-itemA {
    padding-top: 40px;
}
@media(min-width: 600px) {


.sectionTwo-titleTwo {
    font-size: 3rem;
}

.sectionTwo-itemA {
    width: 70%;
    padding: 5px;
   
}

}