.myNav {
    height: 10vh;
    width: 100vw;
    background: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top: 0;
    position: absolute;
  }

  .burgerButton {
    background: none;
    border: none;
    outline: none;
    z-index: 2;
    margin-right: 25px;
    width: 15%;
  }

  .navMenu {
    position: fixed;
    height: 0vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    z-index: 1;
    background: #007aff;
    top: 0;
    padding-left: 20px;
  }

  .navItem a {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    justify-self: left;
  }
  .burgerButton {
    background: none;
    border: none;
    outline: none;
    z-index: 2;
    margin-right: 25px;
  }
  
  #menuDisplayoff {
    display: none;
  }

  @media (min-width: 600px) {
    .burgerButton {
      display: none;
    }
    .myNav {
      display: none;
      height: 10vh;
    }
    #menuDisplayoff {
      display: flex;
      position: fixed;
    }
  
    .navMenu {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      padding: 0;
      top: 0;
      margin: 0;
      height: 0;
      position: relative;
      /* border-bottom: 1px solid #A16AE8; */
      height: 85px;
      background: white;
    }
  
    .navItem a {
      font-weight: bold;
      font-size: 1.5vw;
      color: #007aff;
      margin: 10px;
      scroll-behavior: smooth;
    }
  
    .navItem a:hover {
      background-color: white;
    }

    .navItem {
        padding: 20px;
      }

    main {
      border-bottom: 1px solid #e2dfdf;
    }
  }