.sectionOne {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
}
.sectionOne-Items {
  margin: 0 auto;
}

.sectionOne-itemA {
  font-size: 30px;
}
/* .sectionOne-itemB {
    justify-self: start;
} */

span {
  color: #007aff;
}

.sectionOne-itemB {
  padding: 15px;
}
.sectionOne-button {
  background-color: white;
  border: solid 2px #007aff;
  border-radius: 3rem;
  padding: 10px 23px;
  color: #007aff;
  font-weight: 600;
  box-shadow: 10px 10px 5px 0px rgba(212, 212, 212, 1);
}

.sectionOne-button:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  color: white;
  background-color: #007aff;
  border: solid 2px white;
}

h2.logo {
  color: #007aff;
}

h2.sectionOne-itemB-header {
  color: rgb(135, 135, 135);
  font-size: 1.8rem;
}

video {
    height: 100%;
}


@media (min-width: 600px) {
  .sectionOne {
   display: grid;
   grid-template-columns: 2fr 1fr;
   margin-top: 100px;
  }
  .sectionOne-itemB {
    font-size: 3rem;
  }

  h2.sectionOne-itemB-header{
    font-size: 3.6rem;
  }
  .sectionOne-itemA {
    font-size: 70px;
    justify-self: start;
    /* margin-top: -10%; */
  }


  .sectionOne-button {
    padding: 23px 40px;
  }

  h2.logo {
    font-size: 100px;
    /* margin-top: -3%; */
  }
  /* h2.logo.two {
        margin-top: -20%;
    } */
}
