
.sectionOne {
    margin-top: 40%;
    display: flex;
}
.sectionOne-Items {
    display: block;
    margin: 0 auto;
}

.sectionOne-itemA {
    font-size: 30px;
}
/* .sectionOne-itemB {
    justify-self: start;
} */

.sectionOne-button {
    background-color: white;
    border: solid 2px #A16AE8;
    border-radius: 3rem;
    padding: 15px 28px;
    color: #A16AE8;
    font-weight: 600;
}

h2.logo {
    color:#A16AE8;
}

h2.sectionOne-itemB-header{
    color: rgb(135, 135, 135);
    
}

video {
    height: 150%;
}
@media(min-width: 600px) {
    .sectionOne {
        margin-top: 10%;
    }
    .sectionOne-itemB {
        font-size: 3rem;
    }
    .sectionOne-itemA {
        font-size: 70px;
        justify-self: start;
        /* margin-top: -10%; */
    }

    .sectionOne-Items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sectionOne-button {
        padding: 23px 40px;
    }

    h2.logo {
        font-size: 100px;
        /* margin-top: -3%; */
    }
    /* h2.logo.two {
        margin-top: -20%;
    } */

    
}